.about {
    overflow: hidden;
    background-color: #0A2850;
    background-size:contain;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
}

.about__title {
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;
    color: #fff;
    display: flex;
    max-width: 251px;
    z-index: 2;
    position: relative;
    margin-top: 100px;
    margin: 100px -209px 0;

}

.about__paragraph {
    font-family: "Noto Serif"; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;
    color: #fff;
    max-width: 660px;
    margin: 0;
}

.about__paragraph:first-child {
    margin-top: 119px;
}

.about__circle {
    background-color: #2f80ed;
    z-index: 1;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: relative;
    margin-top:-152px;
    margin-left: -129px;
    justify-content: flex-start;
    animation: Pulsate 1.3s ease-in-out infinite;

}

@keyframes Pulsate {
    0% {
        opacity: 0;
        transform: scale (1);
    }
    50% {
        opacity: 0.6;
        transform: scale (1.2);
    }
    100% {
        opacity: 0;
        transform: scale (1);
    }
}