.menu {
    background-image: url(../images/background_menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px 0 100px;
}

.menu__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal; 
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;
    max-width: 780px;
    text-align: center;
    margin: 0 auto 24px;

}

.menu__subtitle {
    font-family: "Noto Serif", 'Times New Roman', Times, serif;
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;
    max-width: 780px;
    text-align: center;
    margin: 0 auto 100px;

}

.menu__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card {
    width: 540px;
}


.card__list {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-direction: column;
}

.card__title {
    list-style: none;
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 30px;
    margin: 0 0 32px;

}

.card__list-item{
    font-family: "Noto Serif", 'Times New Roman', Times, serif;
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px; 
    line-height: 20px;
    margin: 16px 0 0;
    display: flex;


}

.card__list-item:first-child {
    margin-top: 0;
}

.card__list-divider{
    border-bottom: 2px solid #000;
    flex-grow: 1;
}
