
.reservation {
    background: url(/images/background_reservation.svg);
    z-index: 1;
    background-color: #D9E7FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 120px;
}

.reservation__title {
    font-family: Inter; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;
    margin: 0 0 80px;
    text-align: center;
}

.reservation__form {
    margin: 0 auto;
}

.form {
    max-width: 385px;
}

.form__label {
    font-family: Inter; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px;
    border-radius: 4px;
    display: block;
    padding-bottom: 8px;

}

.form__label_type {
    display: flex;
}

.form__label_type_checkbox{
    display: flex;
    justify-content: center;
    padding-left: 12px;
    border: none;

}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__input[type="text"],
.form__input[type="email"],
.form__input[type="datetime-local"],
.form__input[type="number"]{
    display: block;
    width: 100%;
    padding: 0;
    font-family: Inter; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px; 
    color: #838383;
    height: 60px;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 32px;
    border-radius: 4px;
    padding: 10px;
}

.form__button {
    font-family: Inter; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px;
    border-radius: 4px;
    background-color: #2f80ed;
    color: #FFF;
    padding: 0;
    height: 60px;
    width: 100%;
    margin-bottom: 32px;
    opacity: 1;
    transition: opacity .3s ease;
}

.form__button:hover {
    opacity: .7;
}

.form__checkbox {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}