.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {

}

.nav {

}

.nav__logo {

}

.nav__links {

}

.header__title {

}

.header__title-fancy {

}

.header__description {

}

.header__image {

}

.header__footer {

}

.header__hours {

}

.header__address {

}
